version: "3"
services:
    db:
        image: postgres:15
        environment:
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=root
            - POSTGRES_DB=NutriAPI
        ports:
            - 5432:5432
        volumes:
            - postgres_data:/var/lib/postgresql/data

    api:
        build: .
        ports:
            - 8000:8000
        environment:
            - DATABASE_HOSTNAME=db
            - DATABASE_PORT=5432
            - DATABASE_PASSWORD=root
            - DATABASE_NAME=NutriAPI
            - DATABASE_USERNAME=postgres
        depends_on:
            - db

volumes:
    postgres_data:
